# packages in environment at /home/annajo/anaconda3/envs/scraper:
#
appdirs                   1.4.3                    py36_0  
asn1crypto                0.24.0                   py36_0  
attrs                     17.3.0           py36h5ab58ff_0  
automat                   0.6.0            py36ha140c00_0  
ca-certificates           2017.08.26           h1d4fec5_0  
certifi                   2017.11.5        py36hf29ccca_0  
cffi                      1.11.4           py36h9745a5d_0  
constantly                15.1.0                   py36_0  
coverage                  4.4.2            py36hca7c4c5_0  
cryptography              2.1.4            py36hd09be54_0  
cssselect                 1.0.1            py36he645adf_0  
hyperlink                 17.1.1                   py36_0  
hypothesis                3.38.5           py36h196a6cc_0  
icu                       58.2                 h9c2bf20_1  
idna                      2.6              py36h82fb2a8_1  
incremental               17.5.0           py36hff7e2ee_0  
libedit                   3.1                  heed3624_0  
libffi                    3.2.1                hd88cf55_4  
libgcc-ng                 7.2.0                h7cc24e2_2  
libstdcxx-ng              7.2.0                h7a57d05_2  
libxml2                   2.9.4                h2e8b1d7_6  
libxslt                   1.1.29               h78d5cac_6  
lxml                      4.1.1            py36h4d89739_0  
ncurses                   6.0                  h9df7e31_2  
openssl                   1.0.2n               hb7f436b_0  
parsel                    1.2.0                    py36_0  
pip                       9.0.1            py36h6c6f9ce_4  
pyasn1                    0.4.2            py36h4d1db45_0  
pyasn1-modules            0.2.1            py36hc893066_0  
pycparser                 2.18             py36hf9f622e_1  
pydispatcher              2.0.5                    py36_0  
pympler                   0.5              py36h6b12e4d_0  
pyopenssl                 17.5.0           py36h20ba746_0  
python                    3.6.4                hc3d631a_1  
queuelib                  1.4.2                    py36_0  
readline                  7.0                  ha6073c6_4  
scrapy                    1.5.0                    py36_0    conda-forge
service_identity          17.0.0                   py36_0  
setuptools                38.4.0                   py36_0  
six                       1.11.0           py36h372c433_1  
sqlite                    3.20.1               hb898158_2  
tk                        8.6.7                hc745277_3  
twisted                   17.9.0           py36hb8d8d5a_0  
w3lib                     1.18.0           py36hc34d9f4_0  
wheel                     0.30.0           py36hfd4bba0_1  
xz                        5.2.3                h55aa19d_2  
zlib                      1.2.11               ha838bed_2  
zope                      1.0                      py36_0  
zope.interface            4.4.3            py36h0ccbf34_0  
